[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
sqlalchemy = "*"
marshmallow = "*"
pytest-sanic = "*"
pymysql = "*"
sqlalchemy-utils = "*"
alembic = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
